
$gold: #ffd5a1a2;
$gold-one: #FFD5A1;
$gold-tow: #FBBE75;
$gold-three: #BC7A26;
$gold-for: #A66D26;
$gold-five: #965A10;

$Navy-blue-darck: #3b394ec2;
$Navy-blue-one: #3B394E;
$Navy-blue-tow: #201F31;
$Navy-blue-three: #000A1D;
$Navy-blue-for: #141328;
$Navy-blue-five: #030312;

$white-one: #ffffff;
$white-tow: #ddd;
$white-three: #dfdede;
$white-for: #d1d1d1;
$white-five: #cfcfcf;

$green:green;
$error-red-one:red;
$error-red-tow:rgba(255, 18, 18, 0.418);

$error-green-one:green;
$error-green-tow:rgba(0, 128, 0, 0.438);

$black:black;
$white :white;
$ff :#ddddddbe;

// font sizes
$x-small:10px;
$small:small;
$large:large;
$x-large:x-large;
$xx-large:xx-large;

$mobile:700px;